.hamburgerMenu {
    display: none;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    background-color: #f9f9f9;
    border: 2px solid #a7a7a7;

    transition: padding 0.3s ease;
}

.navbarScrolled {
    padding: 4px 20px;
}

.webIcon {
    width: 57px;
    height: 57px;
}

.logoCode {
    font-size: 60px !important;
    color: #0370b8;
    cursor: pointer;
}

@media (max-width:615px) {
    .hamburgerMenu {
        display: inline;
        background-color: transparent;
        border: none;
    }
}